html {
	--lumo-tint: #f4eee1;
	--lumo-tint-5pct: rgba(244, 238, 225, 0.05);
	--lumo-tint-10pct: rgba(244, 238, 225, 0.1);
	--lumo-tint-20pct: rgba(244, 238, 225, 0.2);
	--lumo-tint-30pct: rgba(244, 238, 225, 0.3);
	--lumo-tint-40pct: rgba(244, 238, 225, 0.4);
	--lumo-tint-50pct: rgba(244, 238, 225, 0.5);
	--lumo-tint-60pct: rgba(244, 238, 225, 0.6);
	--lumo-tint-70pct: rgba(244, 238, 225, 0.7);
	--lumo-tint-80pct: rgba(244, 238, 225, 0.8);
	--lumo-tint-90pct: rgba(244, 238, 225, 0.9);
	
	--lumo-shade: hsl(42, 33%, 13%);
	--lumo-shade-5pct: rgba(44, 38, 22, 0.05);
	--lumo-shade-10pct: rgba(44, 38, 22, 0.1);
	--lumo-shade-20pct: rgba(44, 38, 22, 0.2);
	--lumo-shade-30pct: rgba(44, 38, 22, 0.3);
	--lumo-shade-40pct: rgba(44, 38, 22, 0.4);
	--lumo-shade-50pct: rgba(44, 38, 22, 0.5);
	--lumo-shade-60pct: rgba(44, 38, 22, 0.6);
	--lumo-shade-70pct: rgba(44, 38, 22, 0.7);
	--lumo-shade-80pct: rgba(44, 38, 22, 0.8);
	--lumo-shade-90pct: rgba(44, 38, 22, 0.9);
	
	--lumo-primary-color: #d8ab41;
	--lumo-primary-text-color: rgb(216, 171, 65);
	--lumo-primary-color-50pct: rgba(216, 171, 65, 0.5);
	--lumo-primary-color-10pct: rgba(216, 171, 65, 0.1);
	
	--lumo-error-color: rgb(246, 84, 76);
	--lumo-error-text-color: rgb(255, 95, 87);
	--lumo-error-color-50pct: rgba(246, 84, 76, 0.5);
	--lumo-error-color-10pct: rgba(246, 84, 76, 0.1);
	
	--lumo-success-color: rgb(37, 177, 95);
	--lumo-success-text-color: rgb(18, 222, 103);
	--lumo-success-color-50pct: rgba(37, 177, 95, 0.5);
	--lumo-success-color-10pct: rgba(37, 177, 95, 0.1);
	
	--lumo-header-text-color: #b7830b;
	
	--lumo-box-shadow-xs: 0 1px 4px -1px var(--lumo-shade-50pct);
	--lumo-box-shadow-s: 0 2px 4px -1px var(--lumo-shade-20pct), 0 3px 12px -1px var(--lumo-shade-30pct);
	--lumo-box-shadow-m: 0 2px 6px -1px var(--lumo-shade-20pct), 0 8px 24px -4px var(--lumo-shade-40pct);
	--lumo-box-shadow-l: 0 3px 18px -2px var(--lumo-shade-20pct), 0 12px 48px -6px var(--lumo-shade-40pct);
	--lumo-box-shadow-xl: 0 4px 24px -3px var(--lumo-shade-20pct), 0 18px 64px -8px var(--lumo-shade-40pct);
}

[theme~="dark"] {
	--lumo-tint: #f4eee1;
	--lumo-tint-5pct: rgba(244, 238, 225, 0.05);
	--lumo-tint-10pct: rgba(244, 238, 225, 0.1);
	--lumo-tint-20pct: rgba(244, 238, 225, 0.2);
	--lumo-tint-30pct: rgba(244, 238, 225, 0.3);
	--lumo-tint-40pct: rgba(244, 238, 225, 0.4);
	--lumo-tint-50pct: rgba(244, 238, 225, 0.5);
	--lumo-tint-60pct: rgba(244, 238, 225, 0.6);
	--lumo-tint-70pct: rgba(244, 238, 225, 0.7);
	--lumo-tint-80pct: rgba(244, 238, 225, 0.8);
	--lumo-tint-90pct: rgba(244, 238, 225, 0.9);
	
	--lumo-shade: hsl(42, 33%, 13%);
	--lumo-shade-5pct: rgba(44, 38, 22, 0.05);
	--lumo-shade-10pct: rgba(44, 38, 22, 0.1);
	--lumo-shade-20pct: rgba(44, 38, 22, 0.2);
	--lumo-shade-30pct: rgba(44, 38, 22, 0.3);
	--lumo-shade-40pct: rgba(44, 38, 22, 0.4);
	--lumo-shade-50pct: rgba(44, 38, 22, 0.5);
	--lumo-shade-60pct: rgba(44, 38, 22, 0.6);
	--lumo-shade-70pct: rgba(44, 38, 22, 0.7);
	--lumo-shade-80pct: rgba(44, 38, 22, 0.8);
	--lumo-shade-90pct: rgba(44, 38, 22, 0.9);
	
	--lumo-primary-color: #E6BE5F;
	--lumo-primary-contrast-color: #2D2C29;
	--lumo-primary-text-color: rgb(230, 190, 95);
	--lumo-primary-color-50pct: rgba(230, 190, 95, 0.5);
	--lumo-primary-color-10pct: rgba(230, 190, 95, 0.1);
	
	--lumo-error-color: rgb(246, 84, 76);
	--lumo-error-contrast-color: #2D2C29;
	--lumo-error-text-color: rgb(255, 95, 87);
	--lumo-error-color-50pct: rgba(246, 84, 76, 0.5);
	--lumo-error-color-10pct: rgba(246, 84, 76, 0.1);
	
	--lumo-success-color: rgb(37, 177, 95);
	--lumo-success-contrast-color: #2D2C29;
	--lumo-success-text-color: rgb(18, 222, 103);
	--lumo-success-color-50pct: rgba(37, 177, 95, 0.5);
	--lumo-success-color-10pct: rgba(37, 177, 95, 0.1);
	
	--lumo-base-color: #2D2C29;
	--lumo-header-text-color: var(--lumo-primary-color);
	
	--lumo-box-shadow-xs: 0 1px 4px -1px var(--lumo-shade-50pct);
	--lumo-box-shadow-s: 0 2px 4px -1px var(--lumo-shade-20pct), 0 3px 12px -1px var(--lumo-shade-30pct);
	--lumo-box-shadow-m: 0 2px 6px -1px var(--lumo-shade-20pct), 0 8px 24px -4px var(--lumo-shade-40pct);
	--lumo-box-shadow-l: 0 3px 18px -2px var(--lumo-shade-20pct), 0 12px 48px -6px var(--lumo-shade-40pct);
	--lumo-box-shadow-xl: 0 4px 24px -3px var(--lumo-shade-20pct), 0 18px 64px -8px var(--lumo-shade-40pct);
}